@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

@mixin vCenter{
  display: flex;
  flex-direction: column;;
  justify-content: center;
}
